@import '@fluentui/react/dist/sass/References';

.navigation {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: $ms-color-gray60;
  top: 0;

  &__buttons {
    padding-right: 10px;
  }

  &__icon {
    background-color: inherit;
    top: 9px;
    color: $ms-color-black;
    margin: 0 1px;
    transform: scale(1.2);

    &:hover {
      background-color: initial;
      color: $ms-color-black;
    }
  }

  &__link {
    margin: 4px 0 0 10px;
    cursor: pointer;
  }
}
